p {
	text-align: center;
	font-size: large;
}

h1 {
	text-align: center;
}

h2 {
	margin-top: 2%;
	text-align: center;
}

#pFortunes {
	margin-top: 3%;
}

.buttonHolder {
	text-align: center;
}

.center {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}